section{
    display: flex;
    text-align: center;
    font-size: large;
    color: bisque;
    align-items: center;
    justify-content: center;
    border-style: dotted;
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 150px;
    background-color:rgba(109, 92, 105, 0.58);
}
body{
    text-align: center;
    color: bisque;
    background-color: rgb(22, 22, 23);
}
ul{
    display: block;
    text-align: center;
    align-items: center;
    margin-right: 30px;
    
}

.facts{
    display: block;
    margin-bottom: 20px;
}



img{
    max-height: 250px;
    margin-top: 20px;
}